[submodule "third_party/pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = 2.1.0

[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = main

[submodule "third_party/littlefs"]
	path = third_party/littlefs
	url = https://github.com/littlefs-project/littlefs.git
	branch = master
