.sensorWrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 100%;
  width: 100%;
}

/*
 * WRAPPERS
 */

.vitalWrapper,
.envWrapper,
.infoWrapper {
  border-radius: 2vh;
  padding: 2vh;
}

.vitalWrapper {
  /* background: rgba(180, 40, 40, 0.25); */
  background: rgba(0, 20, 46, 1);
  flex: 3;
}

.envWrapper {
  /* background: rgba(40, 120, 180, 0.25); */
  background: rgba(0, 20, 46, 1);
  flex: 3;
}

.infoWrapper {
  /* background: rgba(80, 80, 80, 0.25); */
  background: rgba(0, 74, 173, 1);
  flex: 2;
}

/*
 * FLEX LAYOUTS
 */

.vitalWrapper,
.envWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
}

.infoWrapper {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}

/*
 * STATUS CARDS
 */

.statusCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  flex: 1 1 0;
  min-width: 0;
}

/*
 * MAIN SENSOR ICON
 */

.statusMainIcon {
  font-size: 5vh;
  /* margin-bottom: 10px; */
}

/*
 * SENSOR VALUE
 */

/* .statusValue {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 12px;
} */


.statusValue {
  /* display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;

  margin-bottom: 12px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 12px; */
}

.statusNumber {
  font-size: 7vh;
  font-weight: bold;
  line-height: 1;
}

.statusUnit {
  font-size: 3vh;
  font-weight: 600;
  line-height: 1.1;

  text-align: left;

  white-space: nowrap;
}

/*
 * STATUS ICONS
 */

.statusIndicator {
  font-size: 3vh;
}

.statusGreen {
  color: #4CAF50;
}

.statusYellow {
  color: #FFC107;
}

.statusRed {
  color: #F44336;
}

/*
 * INFO AREA
 */

.infoIcon {
  font-size: 5vh;
}

.infoText {
  flex: 1;
  font-size: 3vh;
  line-height: 1.4;
}

/*
 * MEASURING MODE
 */

.measuringMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measuringIcons {
  display: flex;
  /* gap: 40px; */
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  font-size: 6vh;
  /* margin-bottom: 20px; */
}

.measuringText {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
}

.statusValueTextOnly {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusTextOnly {
  font-size: 4vh;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.1;
}